{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Start-about-Area-->
<section class="section-gap-info-area" id="about">
   <div class="container">
        <div class="row-d-flex-justify-content-center">
            <div class="menu-content pb-40 col-lg-12">
                <div class="title text-center">
                    <h1 class="mb-10">About Us</h1>
                </div>
                <div class=" single-info-row">
                    HELLO
                  <div>
                     <div class="bd-white brief" >
                          <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget erat eu justo feugiat ultrices. Cras id consequat odio. Integer malesuada quis justo ut ultricies. Sed non bibendum nulla.
                            Praesent aliquet tristique magna in laoreet. Duis leo erat, dapibus nec eros ut, condimentum consequat lorem. Etiam ut elit tempor, volutpat purus quis, semper ipsum. Fusce tincidunt dolor sit amet dui ornare, sit amet eleifend velit elementum. Etiam at rutrum risus.
                            Etiam vitae pretium erat. Mauris vel eros ut velit pharetra feugiat. Pellentesque eget tortor diam. Nunc et felis nisl. Nam diam lacus, placerat non quam non, tempus convallis mi. Nunc pharetra ornare mauris non tempus. Vivamus porttitor efficitur quam non imperdiet.
                            Praesent at enim tortor. In euismod aliquam quam, eu ullamcorper sapien pharetra et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec accumsan, velit non semper malesuada, mi odio rhoncus dolor, vitae semper nisi magna vel ex. Integer ac cursus turpis.
                            Pellentesque venenatis malesuada ultricies. Vestibulum sed quam eget lorem varius aliquet. Duis et condimentum felis, et dapibus metus.
                          </p>
                          <p>
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean nec porttitor metus, vel eleifend sem. Vestibulum ultricies posuere faucibus. Donec ut est lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec fringilla ultricies dui, eu luctus dui posuere nec. Suspendisse et arcu nisl. Integer a hendrerit leo. Donec in dolor lacinia justo tincidunt pharetra. Curabitur auctor ligula nunc, vel dignissim felis ornare in. Nunc dictum velit molestie arcu rhoncus accumsan. 
                            Pellentesque quis varius ligula. Proin vitae magna vitae orci hendrerit condimentum.
                            Ut euismod sem vitae velit hendrerit sodales. Ut ac elit ut velit vestibulum tincidunt. Nunc non mi ut massa euismod auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce egestas tempor metus, id tincidunt lacus vulputate quis. 
                            Ut ac velit in ex euismod varius nec semper ante. Proin interdum mauris ornare quam congue dictum. Pellentesque risus dolor, molestie in massa sit amet, venenatis tincidunt magna. In faucibus ipsum vitae sem iaculis tempor. Nulla velit nulla, eleifend et ex eget, semper aliquam est. 
                            Suspendisse vehicula, metus vel condimentum iaculis, lectus risus aliquet eros, ut ultrices velit libero sed nisi. Nunc tristique porttitor pellentesque. 
                          </p>
                     </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock  %}