{% load static %}
 <!-- Call to Action -->
 <footer id="footer">
   <section id="cta" class="footer-area section-gap">
     <div class="container">
      <div class= "row">
       <div class="col-lg-5 col-md-6 col-sm-8">
         <div class="sigle-footer-widget trends" style="padding-left:-20px;">
          <h6 >TOP TRENDS</h6>
          <p>CoronaVirus News | Adhar Card Pan Card Link | TNTET Result 2023 | 5 Planets Allign | Israel Protest
             IPL Schedule 2023 | Longwalks App  | Order Newspaper | CrptoCurrency Price in India | Karnataka Elections 2023
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6 news">
        <div class="single-footer-widget">
          <h6>Newsletter</h6>
          <p>Stay update with our latest</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6> Follow Us </h6>
          <p>Let us be social</p>
          <i class=" logo fab fa-facebook-f" href="#" > </i>
          <i class=" logo fab fa-twitter" href="#" ></i>
          <i class=" logo fab fa-instagram" href="#" ></i>
          <i class=" logo fas fa-envelope" href="#" ></i>
        </div>
       </div>
      </div>
     </div>
 
      <!-- Footer -->



     <div class="copy">

       <h6>© Copyright 2023 NewsApplication</h6>
       <h6>All rights reserved</h6>

      </div>
   </section>
 </footer>


</body>
</html>

