{% include 'header.html' %}
{% load static %}
{% block content %}
<!--
<marquee>
  {% for name in newsData %}
    <a href="" {{name.name_title}}  &nbsp;&nbsp;&nbsp;>
  {% endfor %}
</marquee>
-->

<body>
    
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
      <source src="/static/img/News.mp4" type="video/mp4">
    </video>
  
    <!-- Optional: some overlay text to describe the video -->
    <div class="content">
      <h4 class="lazyloaded"> HELLO</h4>
      <h1>NEWS</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula nibh ipsum. Sed at sodales ante. </p>
      <p>Etiam ac tempus arcu. Ut sit amet tortor sem. Nunc condimentum lectus ut enim vehicula pellentesque.</p>
      <!-- Use a button to pause/play the video with JavaScript -->
      <a href="/Home/" class="btn btn-news btn-black-transparent" target="_self" data-factors-click-bind="true" >swipe to see<i class="fas fa-arrow-right"></i></a>
     <!--<button id="myBtn" onclick="myFunction()">Pause</button>--> 
      </div>

{% endblock  %} 























































